@import "../../css/colors.css";
@import "../../css/units.css";

.course-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 13.5rem;
  height: 23.31rem;
  margin: 0 0.425rem 1.15rem 0.725rem;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: $text-primary;
  outline: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  background:rgba(255,255,255,1);
  /* border:1px solid rgba(229,229,237,1); */
  border-radius:0.625rem;
}

.course-item:hover {
  border: 1px solid rgba(81, 221, 212, 1);
  box-shadow: 0rem 0rem 1rem 0rem rgba(81, 221, 212, 0.5);
}

.course-item:hover .course-item-delete {
  display: inline;
}

.disabled {
  opacity: .5;
  cursor: auto;
}

.disabled:hover {
  border-color: $ui-black-transparent;
}

.course-item-image-container-wrapper {
  width: 100%;
  height: 13.5rem;
  border-bottom: 1px solid rgba(229,229,237,1);
  position: relative;
  overflow: hidden;
}

.course-item-image-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.course-item-image-loading-container {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
}

.course-item-image {
  width: 100%;
  height: 100%;
}

.course-item-image-loading {
  width: 70px;
  height: 70px;
  margin-top: 3rem;
}

.course-item-name {
  min-width: 0;
  height: 3rem;
  display: flex;

  line-height: 1.5rem;
  position: relative;

  /* align-items: center; */
  justify-content: flex-start;

  font-size:1rem;
  font-family:PingFang SC;
  font-weight:400;
  color:rgba(113,117,130,1);

  box-sizing: border-box;
}

.tagTooltip {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: auto;
  background: rgba(21, 7, 12, 0.7);
  border-radius: 5px;
  word-break: break-word;
  color: #fff;
  padding: 5px 10px;
  opacity: 0;
  z-index: -10;
  transition: all 0.3s;
  font-size: calc($font-size-rem-rate * 22rem);
  font-family: PingFang SC;
  font-weight: 400;
}

.tagTooltip>span {
  margin-right: 0.5rem;
}

.showTagTooltip {
  opacity: 1;
  z-index: 999999;
}

.featured-margin {
  margin: 0.625rem 0.625rem 0 0.625rem;
}

.tags-margin {
  margin: 0.25rem 0.625rem 0 0.625rem;
}

.tagContainer {
  font-size: calc($font-size-rem-rate * 24rem);
  font-family: PingFang SC;
  font-weight: 400;
  color: #ADB4D0;
  line-height: 1.25rem;
  /* overflow: hidden; */
  display: flex;
  width: calc(100% - 1.25rem) ;
}

.tags {
  /* height: max-content; */
  height: 25px;
  line-height: 25px;
  overflow: hidden;

  font-size:0.81rem;
  font-family:PingFang SC;
  font-weight:400;
  color:rgba(173,180,208,1);
}

.tagOmit {
  color: #A5ACCA;
  min-width: 20px;
  height: 27px;
  line-height: 27px;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
}

.tagContainer span.tagItem {
  margin-right: 0.5rem;
}