.modal-content {
  width: 62.95rem;
  background: rgba(242, 247, 251, 1);
  box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.hardwareProducts-modal{
  width: 80rem;
  background: rgba(242, 247, 251, 1);
  box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.body {
  background: transparent;
  padding: 0rem;
  height: 80vh;
  background: #D5DEE9;
}
