@import "../../css/colors.css";
@import "../../css/units.css";

.project-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 13.755rem;
  height: 13.755rem;
  margin: 0 0.425rem 1.15rem 0.725rem;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: $text-primary;
  outline: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  background:rgba(255,255,255,1);
  /* border:1px solid rgba(229,229,237,1); */
  border-radius:0.625rem;
}

.project-item:hover {
  border: 1px solid rgba(81, 221, 212, 1);
  box-shadow: 0rem 0rem 1rem 0rem rgba(81, 221, 212, 0.5);
}

.project-item:hover .project-item-delete {
  display: inline;
}

.disabled {
  opacity: .5;
  cursor: auto;
}

.disabled:hover {
  border-color: $ui-black-transparent;
}

.project-item-image-container-wrapper {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid rgba(229,229,237,1);
  position: relative;
  overflow: hidden;
}

.project-item-image-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.project-item-image-loading-container {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
}

.project-item-image {
  width: 100%;
  height: 100%;
}

.project-item-image-loading {
  width: 70px;
  height: 70px;
  margin-top: 3rem;
}

.project-item-content-container {
  position: absolute;
  width: 100%;
  height: 6.25rem;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,.7);
}

.project-item-title {
  min-width: 0;
  height: 3rem;
  display: flex;
  line-height: 1.5rem;
  position: relative;
  justify-content: flex-start;
  font-size:1rem;
  font-family:PingFang SC;
  font-weight:400;
  color:rgba(255,255,255,1);
  box-sizing: border-box;
  margin: 0.625rem 1.75rem 0 1.25rem;
}

.project-item-nick-name {
  font-size: 0.78rem;
  font-family: PingFang SC;
  font-weight: 400;
  color:rgba(255,255,255,1);
  line-height: 1.5rem;
  width: calc(100% - 3rem);
  height: 2.5rem;
  margin: 0 1.75rem 0 1.25rem;
  display:flex;
  align-items: center;
}

