.modify-pwd-modal {
  width: 30rem;
  font-size: 14px;
}

.modify-pwd-container {
  width: 90%;
  margin: 30px auto 1.5rem;
}

.willSend {
  text-align: center;
  color: #717582;
  margin-bottom: 1.5rem;
}

.check-num {
  position: relative;
}

.input-num-check {
  position: absolute;
  bottom: -20px;
  left: 5px;
  font-size: 12px;
  color: #FF7686;
}

.get-check-num {
  position: absolute;
  top: 10px;
  right: 5px;
  font-size: 0.88rem;
  color: #4A9CF0;
}

.phone-num {
  text-align: center;
  color: #717582;
  margin-bottom: 1.5rem;
}

.phone {
  margin-top: 0.5rem;
}

.get-check-num:hover {
  cursor: pointer;
}

.modify-input {
  width: 100%;
  height: 40px;
  line-height: 40px;
}

.next-step {
  margin-top: 1.5rem;
  width: 100%;
  text-align: center;
}

.next-btn {
  min-width: 50%;
}

.showPwd {
  width: 1.5rem;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.showPwd:hover {
  cursor: pointer;
}

.redBorder {
  border: 1px solid rgba(255, 118, 134, 1);
  box-shadow: 0px 2px 6px 0px rgba(255, 118, 134, 0.5);
}

.errMsg {
  font-size: 0.75rem;
  color: #FF7686;
  text-align: left;
  min-height: 1.3rem;
  padding-top: 0.2rem;
}