# Mac OS
.DS_Store

# NPM
/node_modules
yarn.lock
package-lock.json
npm-*

# generated locale files
/locales

# generated build files
/build

# app
app/gui
app/shell
app/node_modules
app/yarn.lock
app/package-lock.json
buildTemp
compilers
script/grovezero/codecraft_usr.c
