# Mac OS
.DS_Store

yarn.lock
yarn-error.log

# NPM
/node_modules
npm-*

# Testing
/.nyc_output
/coverage

# Editor
/.idea
/.vscode

# Build
/dist
/playground
/benchmark

# Localization
/translations
