# OSX
.DS_Store

# NPM
/node_modules
npm-*

yarn.lock
yarn-error.log

package-lock.json

# Localization / I18N
common.pyc
.settings
.project
*.pyc
*.komodoproject
/nbproject/private/

/accessible/*
/dist

/msg/json/synonyms.json
/msg/json/qqq.json
/msg/json/constants.json
/msg/json/en.jso
/msg/js/en.js

/blockly_compressed_horizontal.js
/blockly_compressed_vertical.js
/blockly_uncompressed_horizontal.js
/blockly_uncompressed_vertical.js
/blocks_compressed_horizontal.js
/blocks_compressed_vertical.js
/blocks_compressed.js

/c_compressed.js
/dart_compressed.js
/javascript_compressed.js
/lua_compressed.js
/php_compressed.js
/python_compressed.js

/gh-pages/playgrounds
/gh-pages/Gemfile.lock
/gh-pages/closure-library
/gh-pages/_site
