.course-material-box {
    width: 100%;
    height: auto;
    position: relative;
}

.word-box {
    height: 16rem;
    margin: 0 1rem 1rem 1rem;
    overflow-y: auto;
}

.word-box div {
    padding-bottom: 15px;
}

.word-box div img {
    width: 100%;
    border-radius: 10px;
    background: rgb(255, 255, 255);
}

.img-box {
    height: 16rem;
    margin: 0 1rem 1rem 1rem;
    line-height: 16rem;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    text-align: center;
    display: flex;
}

.img-box>img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

.ppt-box {
    height: 16rem;
    margin: 0 1rem 1rem 1rem;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    display: flex;
}

.ppt-box>img {
    max-width: 100%;
    min-width: 100%;
    max-height: 100%;
    min-height: 100%;
    margin: auto;
}

.to-left-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 25%;
    height: 100%;
}

.to-left {
    position: absolute;
    left: 1rem;
    top: calc(50% - 65px);
    width: 40px;
    height: 130px;
    background: rgba(0, 0, 0, 0.5);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    opacity: 0;
}

.to-left img {
    width: 19px;
    height: 19px;
    margin: auto;
}

.to-left:hover {
    cursor: pointer;
    opacity: 1;
}

.to-right-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 25%;
    height: 100%;
}

.to-right {
    position: absolute;
    right: 1rem;
    top: calc(50% - 65px);
    width: 40px;
    height: 130px;
    background: rgba(0, 0, 0, 0.5);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    opacity: 0;
}

.to-right img {
    width: 19px;
    height: 19px;
    margin: auto;
}

.to-right:hover {
    cursor: pointer;
    opacity: 1;
}

.video-box {
    height: 16rem;
    margin: 0 1rem 1rem 1rem;
    overflow: hidden;
    position: relative;
}


.cannot-preview {
    height: 16rem;
    margin: 0 1rem 1rem 1rem;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    background: rgba(245, 248, 250, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.cannot-preview-img {
    width: 11.3rem;
    height: 9.75rem;
    margin: auto 0 1.2rem;
}

.cannot-preview-text {
    font-size: 0.875rem;
    font-weight: 400;
    color: #999;
}

.box-height-fullscreen {
    height: 22rem;
}

@media screen and (min-width: 1921px) {
    .box-height-fullscreen {
        height: 39rem;
    }
}

@media screen and (max-width: 1920px) {
    .box-height-fullscreen {
        height: 22rem;
    }
}

.tool-bar {
    position: absolute;
    z-index: 2;
    background: rgba(0, 0, 0, 0);
    left: 1rem;
    /* top: 13.6rem; */
    bottom: 0rem;
    right: 1rem;
    width: calc(100% - 2rem);
    height: 2.4rem;
}

.tool-bar-video {
    position: absolute;
    z-index: 2;
    background: rgba(0, 0, 0, 0);
    bottom: 0;
    right: 1rem;
    width: 2.8rem;
    height: 2.4rem;
}

.tool-bar:hover {
    background: rgba(0, 0, 0, 0.8);
}

.fullscreen-btn {
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    width: 2.8rem;
    height: 2.25rem;
    display: flex;
}

.fullscreen-icon {
    width: 1.2rem;
    height: 1.2rem;
    margin: auto;
}