.mainContentPic {
  width: 100%;
  height: 100%;
  text-align: center;
  margin: 0 0 1rem 0;
}

.box-height-fullscreen {
  height: calc(22rem - 1rem) !important;
  margin: 1rem 0 !important;
}

@media screen and (min-width: 1921px) {
  .box-height-fullscreen {
    height: calc(39rem - 1rem) !important;
  }
}

@media screen and (max-width: 1920px) {
  .box-height-fullscreen {
    height: calc(22rem - 1rem) !important;
  }
}

.answer_content_container {
  position: relative;
  height: 16rem;
  margin: 0 1rem 1rem 1rem;
}

.answer_content {
  height: auto;
}

.answer_title {
  width: 100%;
  font-size: 1.5rem;
  font-weight: 400;
  height: 3rem;
  color: rgba(44, 57, 70, 1);
  z-index: 1;
}

.answer_btn {
  position: absolute;
  top: 0;
  right: 1rem;
  height: 32px;
  line-height: 32px;
  font-size: 14px;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
  background: linear-gradient(90deg, #fcc604, #fcdf19);
  box-shadow: 0 5px 8px 0 rgba(252, 212, 16, .1);
}

.answer_btn:hover {
  background: linear-gradient(90deg, rgba(239, 188, 5, 1) 0%, rgba(242, 215, 25, 1) 100%);
  box-shadow: 0px 5px 8px 0px rgba(252, 212, 16, 0.1);
}

.answer_btn:active {
  background: linear-gradient(90deg, rgba(211, 166, 5, 1) 0%, rgba(213, 189, 20, 1) 100%);
  box-shadow: none;
}

.answerBtnWhite {
  font-size: 14px;
  font-weight: 500;
  height: 32px;
  line-height: 32px;
  background: rgb(255, 255, 255);
}

.mainContentContainer {
  width: 100%;
  margin: 0 auto;
  text-align: left;
  height: calc(22rem - 4rem);
  overflow: auto;
}

.answer_tips {
  font-size: 18px;
  font-weight: 400;
  color: #333;
  margin: 0 1rem 0.6rem;
}

.answer_descriptionimg_container {
  padding: 0 1rem;
  border-radius: 10px;
  overflow: hidden;
  background: #fff;
  text-align: center;
  overflow: hidden;
}

.answer_descriptionimg {
  max-width: 100%;
  max-height: 100%;
}


.answer_option_container {
  margin: 10px 0;
}

.option_des_container {
  display: inline-flex;
  align-items: self-start;
  cursor: pointer;
  width: 48%;
  margin-bottom: 1rem;
}

/* label {
  :global {

    .ant-radio,
    .ant-checkbox {
      float: left;
    }
  }
} */

.option_des {
  width: 100%;
  display: inline-block;
}

.optionText {
  height: 45px;
  font-size: 13px;
  font-weight: 400;
  color: #333;
  overflow: auto;
  white-space: normal;
  text-align: left;
  padding-left: 10px;
}

.optionImgContainer {
  display: inline-block;
}

.optionImg {
  width: 16.875rem;
  height: 10.5rem;
  background: #fff;
  text-align: center;
  line-height: 10.5rem;
  border-radius: 4px;
  overflow: hidden;
}

.optionImg img {
  max-width: 100%;
  max-height: 100%;
}

.noPic {
  width: 270px;
  height: 168px;
  border-radius: 4px;
  background: rgb(191, 191, 191);
  display: inline-block;
}

.answerResult {
  text-align: center;
}

.answerResult img {
  width: 60px;
  height: 60px;
  margin: 10px 0;
}

.text1 {
  font-size: 18px;
  font-weight: 500;
  color: rgba(51, 51, 51, 1);
}

.text2 {
  font-size: 12px;
  font-weight: 400;
  color: rgba(51, 51, 51, 1);
  margin: 10px 0 25px;
}

.answerBtn {
  font-size: 14px;
  font-weight: 500;
  height: 32px;
  line-height: 32px;
}

.answerBtnDisabled {
  background: #a5acca;
  cursor: not-allowed !important;
}

.radio {
  width: 18px;
  height: 18px;
  border: 1px solid #E5E5ED;
  border-radius: 50%;
  position: relative;
}

.radioCircle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: rgba(75, 159, 240, 1);
  position: absolute;
  top: 3px;
  left: 3px;
}

.checkbox {
  width: 18px;
  height: 18px;
  border: 1px solid #E5E5ED;
  position: relative;
}

.checkSelected {
  position: absolute;
  bottom: 0;
  left: 0;
}

.resultModal {
  width: 18rem;
  padding: 1rem 0 1.5rem;
}

.answerBigger {
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}

.answerBiggerDesImg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
}

.answerBiggerContent {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.3);
}

.tool-bar {
  position: absolute;
  z-index: 2;
  background: rgba(0, 0, 0, 0);
  left: 1rem;
  bottom: 0;
  right: 1rem;
  height: 2.4rem;
}

.tool-bar:hover {
  background: rgba(0, 0, 0, 0.8);
}

.fullscreen-btn {
  position: absolute;
  cursor: pointer;
  top: 0.1rem;
  right: 0;
  width: 2.8rem;
  height: 2.2rem;
  display: flex;
}

.fullscreen-icon {
  width: 1.2rem;
  height: 1.2rem;
  margin: auto;
}