# Mac OS
.DS_Store

yarn.lock
yarn-error.log

package-lock.json
# NPM
/node_modules
npm-*

# Testing
/.nyc_output
/coverage

# Build
/build
/dist
/.opt-in

# generated translation files
/translations
/locale
