@import "../../css/units.css";
@import "../../css/colors.css";
$sprite-info-height: 10rem;
$sprite-backdrop-height: 3.75rem;

.stage-tab-list {
  height: 1.72rem;
  width: auto;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;

  /* font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */

  font-weight: 500;
  font-size: 0.80rem;
  /* Overrides for react-tabs styling */
  margin: 0 !important;
  border-bottom: 0 !important;
}

.stage-tab {  
  min-width: 3.68rem;
  margin-bottom: 0;

  /* border-radius: 1rem 1rem 0 0;
  border: 1px solid $ui-black-transparent; */

  /* padding: 0.125rem 1.25rem 0; */

  font-size:0.70rem;
  font-weight:400;
  color:rgba(113,117,130,1);

  /* background-color: $ui-tertiary;
  color: $text-primary-transparent; */

  background:rgba(255,255,255,1);

  border-top:0.125rem solid rgba(232,239,247,1);
  border-left:0.125rem solid rgba(232,239,247,1);
  border-right:0.125rem solid rgba(232,239,247,1);
  border-radius: 0.88rem 0.88rem 0 0;

  display: flex;
  justify-content: center;
  align-items: center;

  user-select: none;
  white-space: nowrap;

}

stage-tab-gap{
  width: 0.63rem;
}

/* Use z-indices to force left-on-top for tabs */
/* .stage-tab:nth-of-type(1) {
  z-index: 3;
}
.stage-tab:nth-of-type(2) {
  z-index: 2;
}
.stage-tab:nth-of-type(3) {
  z-index: 1;
} */

/* .stage-tab:hover {
background-color: $ui-primary;
} */

.stage-tab.is-selected {
  /* height: 100%; */
  /* color: $motion-primary; */
  /* border:none; */
  background:rgba(232,238,243,1);
  /* z-index: 4; Make sure selected is always above */
}

/* Tab style overrides from react-tabs */
.stage-tab.is-selected:after {
  display: none;
}

.stage-tab.is-selected:focus {
  outline: none;
  box-shadow: none;
  border-color: $ui-black-transparent;
}

.stage-tab.is-selected:focus:after {
  display: none;
}

/* Body of the tabs */
.stage-tabs {
  width: 100%;
  height: calc(100%);
  position: relative;
  /* flex-grow: 1; */
  display: flex;
  flex-direction: column;
}

.stage-tab-panel {
  width: 100%;
  height: calc(100% - 1.38rem);
  display:none;
  position: relative;
  background:rgba(232,238,243,1);
  border-radius:0 1rem 1rem 1rem;
  padding-top: 0.31rem;
  padding-left: 0.31rem;
  padding-bottom: 0.31rem;
}

.stage-tab-panel.is-selected {
  display: flex;
}

.stage-tab-panel.is-disabled {
  display: none;
}

.target-pane {
  /* Makes columns for the sprite library selector + and the stage selector */
  width: 100%;
  height: calc(100%);
  display: flex;
  flex-direction: column;
  /* flex-grow: 1; */
  padding: 0.72rem;
  border: 0.0625rem solid rgba(232, 239, 247, 1);
  background:rgba(242,247,251,1);
  border-radius:1rem;
}

.sprites-wrapper-small{
  width: 4.69rem;
}

.sprites-wrapper-large{
  width: 12.98rem;
}

.scroll-wrapper-pane {
  height: 100%;
}

.scroll-wrapper {
  /*
       Sets the sprite-selector items as a scrollable pane

        @todo: Safari: pane doesn't stretch to fill height;
        @todo: Adding `position: relative` still doesn't fix Safari scrolling pane, and
              also introduces a new bug in Chrome when vertically resizing window down,
              then back up, introduces white space in the outside the page container.
    */
  /* height: calc(100% - 0.62rem);
  overflow-y: auto; */
}

.scroll-wrapper-large {
  /*
       Sets the sprite-selector items as a scrollable pane

        @todo: Safari: pane doesn't stretch to fill height;
        @todo: Adding `position: relative` still doesn't fix Safari scrolling pane, and
              also introduces a new bug in Chrome when vertically resizing window down,
              then back up, introduces white space in the outside the page container.
    */
  height: calc(100%);
  overflow-y: auto;
}

.scroll-wrapper-large::-webkit-scrollbar {
  width: 5px;
  background: transparent;
}

.scroll-wrapper-large::-webkit-scrollbar-track {
  background: rgba(232,238,243,1);
}

.scroll-wrapper-large::-webkit-scrollbar-thumb {
  background: #D2D7DE;
  opacity: 0.5;
  border-radius: 10px;
}

.scroll-wrapper-large::-webkit-scrollbar-button:start {
  background-size: 12px 12px;
}

.scroll-wrapper-large::-webkit-scrollbar-button:end {
  background-size: 12px 12px;
}

.sprite-and-backdrop-wrapper {
  height: calc(100% - $sprite-info-height);
  flex-grow: 1;
  display: flex;
  background: rgba(232, 238, 243, 1);
  border: 2px solid rgba(232, 239, 247, 1);
  padding: 10px 0px;
  border-radius: 10px;
  margin: 0 0.5rem 0.5rem 0.5rem;
}

.sprite-and-backdrop-wrapper.small {
  width: auto;
  flex-direction: column;
}

.sprite-and-backdrop-wrapper.large {
  flex-direction: row;
}

.sb-divider {
  border: none;
  background-color: rgba(242, 247, 251, 1);
}

.sb-divider.small {
  width: auto;
  height: 2px;
}

.sb-divider.large {
  height: auto;
  width: 2px;
}

.sprites-wrapper {
  padding: 0px 12px 6px 12px;
  font-size: 0.75rem;
  font-weight: 400;
  color: rgba(113, 117, 130, 1);
}

.backdrop-wrapper {
  font-size: 0.75rem;
  font-weight: 400;
  color: rgba(113, 117, 130, 1);
}

.backdrop-wrapper-title.small {
  margin: 0px 0px 0px 12px;
}

.backdrop-wrapper-title.large {
  margin: 0px 12px 0px 12px;
}

.sprite-divider {
  height: auto;
  border-right: 0.0625rem solid rgba(219,225,230,1);
  margin: 6px 0px;
}

.stage-selector-wrapper {
  display: flex;
  flex-basis: 72px;
  flex-shrink: 0;
}

.spriteinfo-wrapper {
  width: 100%;
  display: flex;
  padding: 0.75rem;
}

.spriteinfo-wrapper.row {
  flex-direction: row;
}

.spriteinfo-wrapper.column {
  flex-direction: column;
}

.stage-extra-wrapper {
  margin-top: 0.42rem;
  display: inline-flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center;
  justify-items: center; */
  text-align: center;
}

/* .stage-extra-wrapper.column {
  padding: 8px 0px;
  flex-direction: column;
}

.stage-extra-wrapper.row {
  padding: 0px 0px 0px 0px;
  flex-direction: row;
} */

.extra-btn {
  min-width: 5.8rem;
  padding: 0 0.5rem;
  height:1.88rem;
  min-height: 1.88rem;
  line-height: 1.88rem;
  font-size:0.88rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  background: rgba(81, 221, 212, 1);
  box-shadow: 0px 3px 6px 0px rgba(81, 221, 212, 0.5);
  border-radius: 1.07rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  text-align: center;
  /* display: inline-block; */
  /* justify-content: center;
  align-content: center; */
}

.extra-btn>img {
  width: 0.784rem;
  height: 100%;
  margin: 0 6px auto 0px;
}

.extra-btn.is-selected {
  z-index: 200;
  width:calc(5.8rem * 1);
  height:calc(1.88rem * 1);
}

.save-exit {
  height:1.88rem;
  line-height: 1.88rem;
  text-align: center;
}

.spriteInfoAndButtonsWrap{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  justify-content: flex-start;
}

.target-pane-neterr {
  padding: 0.44rem 0.44rem;
  background: rgba(255, 255, 255, 1);
  border-radius: 0.5rem;
  font-size: 0.88rem;
  color: #717582;
}