.date-select {
  outline: none;
  width: 33%;
  /* height: 140px; */
  text-align: center;
  text-align-last: center;
}

select {
  /*将默认的select选择框样式清除*/
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  /*在选择框的最右侧中间显示小箭头图片*/
  background: url(./ico-arrow.png) no-repeat scroll right center transparent;
}

/*清除ie的默认选择框样式清除，隐藏下拉箭头*/

select::-ms-expand {
  display: none;
}

.datepickContainer {
  width: 100%;
  height: 2.5rem;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid rgba(232, 239, 247, 1);
  overflow: hidden;
  font-size: 0.88rem;
}

.datepickContainer:hover {
  cursor: pointer;
}

.datepickContainerActive {
  height: 5rem;
  overflow: visible;
  border: 1px solid rgba(81, 221, 212, 1);
  box-shadow: 0rem 0rem 0.5rem 0rem rgba(81, 221, 212, 0.5);
  z-index: 10;
}

.dateLabel {
  float: left;
  width: 7.5rem;
  height: 100%;
  line-height: calc(2.5rem - 2px);
  background: rgba(242, 247, 251, 1);
  text-align: left;
  border-right: 1px solid rgba(232, 239, 247, 1);
  border-radius: 10px 0 0 10px;
  color: #ABB9C6;
  padding: 0 10px;
  overflow: hidden;
  white-space: nowrap;
}

.dpContainer {
  float: left;
  width: calc(100% - 8.5rem);
  height: calc(2.5rem - 2px);
  line-height: calc(2.5rem - 2px);
}

.dpText {
  height: 2.5rem;
  line-height: 2.5rem;
  border-bottom: 1px solid rgba(232, 239, 247, 1);
  padding-left: 1rem;
}

.dpSelectContainer {
  height: 2.5rem;
  /* line-height: 2.5rem; */
  /* display: flex; */
}

/* ********************** */

.selectContainer {
  display: flex;
  margin-top: 0.25rem;
  font-size: 0.88rem;
}

.select {
  width: 31%;
  height: 1.75rem;
  border: 1px solid rgba(232, 239, 247, 1);
  border-radius: 6px;
  margin: 0 auto;
  background: #fff;
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.selectActive {
  height: 10rem;
  overflow: hidden;
  border: 1px solid rgba(81, 221, 212, 1);
  box-shadow: 0rem 0rem 0.5rem 0rem rgba(81, 221, 212, 0.5);
}

.selectItemTitle {
  line-height: 1.75rem;
  padding-left: 0.2rem;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.selectItemTitle>span {
  margin-right: 1.15rem;
}

.selectItemContainer {
  max-height: 8.25rem;
  overflow: auto;
}

.selectItem {
  height: 1.5rem;
  line-height: 1.5rem;
  padding-left: 0.3rem;
}

.selectItemSelected {
  background: rgba(23, 152, 255, 0.2);
  color: #1798FF;
}

.iconActive {
  width: 0.8rem;
  float: right;
  margin: 0.4rem 0.4rem 0 0;
}

.selectItem:hover {
  background: rgba(23, 152, 255, 0.2);
  color: #1798FF;
  cursor: pointer;
}

.arrow {
  width: 0.8rem;
  position: absolute;
  right: 0.2rem;
  top: 0.65rem;
}

.iconArrow {
  float: right;
  margin: 14px 6px 0 0;
  width: 16px;
}