.content{
    width: 62.5rem;
    height: 25rem;
    background-color: #D5DEE9;
    position: relative;
    margin: 0 auto;
}
.newBody{
    position: absolute;
    top: 7.5rem;
    left: 25rem;
}
.newHead{
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    animation-delay: 0.2s; 
    position: absolute;
    top: 5.625rem;
    left: 18.75rem;
    transform-origin:right bottom;

}
.newRightForeleg{
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    animation-delay: 0.2s; 
    width: 25rem;
    height: 13.625rem;
    top: 12.81rem;
    left: 12.81rem;
    position: absolute;
    z-index: 99;
    transform-origin:52% 0;
}
.newLeftForele{
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    animation-delay: 0.2s; 
    position: absolute;

    width: 25rem;
    height: 13.625rem;
    top:13.125rem;
    left: 11.5625rem;
    transform-origin:52% 0;
    z-index: 49;
}
.newLeftHindleg{
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    animation-delay: 0.2s; 
    position: absolute;

    width: 25rem;
    height: 13.625rem;
    top: 13.125rem;
    left: 25rem;
    transform-origin:52% 0;
    z-index: 49;

}
.newRightHindleg{
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    animation-delay: 0.2s; 
    position: absolute;

    width: 25rem;
    height: 13.625rem;
    top: 12.625rem;
    left: 24.25rem;
    transform-origin:52% 0;
    z-index: 99;
}
.rightForelegUpperNum{
    position: absolute;
    top:6.25rem;
    left: 50%;
    z-index: 89;
    transform: rotate(90deg);
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    animation-delay: 0.2s; 
    transform-origin: center 10%;

}
.rightForelegLowerNum{
    position: absolute;
    top:0;
    left: 50%;
    z-index: 79;
    transform-origin: center 10%;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    animation-delay: 0.2s; 
    transform:rotate(0deg);
}
.leftForelegUpperNum{
    position: absolute;
    transform: rotate(90deg);
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    animation-delay: 0.2s; 
    top:3.125rem;
    left:50%;
    z-index:39;
    transform-origin: center 10%;
}
.leftForelegLowerNum{
    position: absolute;
    top:0;
    left: 50%;
    z-index:29;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    animation-delay: 0.2s; 
    transform-origin: center 10%;
    transform: rotate(0deg);

}
.leftHindlegLowerNum{
    position: absolute;
    top:0;
    right: 50%;
    z-index:29;
    transform-origin: center 10%;
    transform:rotate(0deg);
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    animation-delay: 0.2s; 
}
.leftHindlegUpperNum{
    position: absolute;
    top: 3.75rem;
    left: 42%;
    z-index:39;
    transform-origin: center 10%;
    transform:rotate(90deg);
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    animation-delay: 0.2s; 
}
.rightHindlegUpperNum{
    position: absolute;
    top: 6.25rem;
    right: 42%;
    transform:rotate(90deg);
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    animation-delay: 0.2s; 
    transform-origin: center 10%;
    z-index: 89;
}
.rightHindlegLowerNum{
    position: absolute;
    top: 0;
    left: 50%;
    transform:rotate(0deg);
    z-index: 79;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    animation-delay: 0.2s; 
    transform-origin: center 10%;
}
.checkHeadNumber{
    width: 1.83rem;
    height: 1.83rem;
    background: rgba(255, 255, 255, 0.6);
    border: 0.05rem dashed #EB5656;
    border-radius: 50%;
    font-size: 1rem;
    font-family: PingFang SC;
    font-weight: 500;
    color: #E45757;
    line-height: 1.83rem;
    text-align: center;
    position: absolute;
    top: 10.5rem;
    left: 25.5rem;
    z-index: 9999;
}
.rightForelegLowerNumber{
    width: 1.83rem;
    height: 1.83rem;
    background: rgba(255, 255, 255, 0.6);
    border: 0.05rem dashed #EB5656;
    border-radius: 50%;
    font-size: 1rem;
    font-family: PingFang SC;
    font-weight: 500;
    color: #E45757;
    line-height: 1.83rem;
    text-align: center;
    position: absolute;
    top: 0rem;
    left: 12.5rem;
    z-index: 9999;
}
.rightForelegUpperNumber{
    width: 1.83rem;
    height: 1.83rem;
    background: rgba(255, 255, 255, 0.6);
    border: 0.05rem dashed #EB5656;
    border-radius: 50%;
    font-size: 1rem;
    font-family: PingFang SC;
    font-weight: 500;
    color: #E45757;
    line-height: 1.83rem;
    text-align: center;
    position: absolute;
    top: 6rem;
    left: 12.5rem;
    z-index: 9999;
}
.leftForelegLowerNumber{
    width: 1.83rem;
    height: 1.83rem;
    background: rgba(255, 255, 255, 0.6);
    border: 0.05rem dashed #EB5656;
    border-radius: 50%;
    font-size: 1rem;
    font-family: PingFang SC;
    font-weight: 500;
    color: #E45757;
    line-height: 1.83rem;
    text-align: center;
    position: absolute;
    top: 0rem;
    left: 12.5rem;
    z-index: 9999;
}
.leftForelegUpperNumber{
    width: 1.83rem;
    height: 1.83rem;
    background: rgba(255, 255, 255, 0.6);
    border: 0.05rem dashed #EB5656;
    border-radius: 50%;
    font-size: 1rem;
    font-family: PingFang SC;
    font-weight: 500;
    color: #E45757;
    line-height: 1.83rem;
    text-align: center;
    position: absolute;
    top: 3rem;
    left: 12.5rem;
    z-index: 9999;
}
.leftHindlegLowerNumber{
    width: 1.83rem;
    height: 1.83rem;
    background: rgba(255, 255, 255, 0.6);
    border: 0.05rem dashed #EB5656;
    border-radius: 50%;
    font-size: 1rem;
    font-family: PingFang SC;
    font-weight: 500;
    color: #E45757;
    line-height: 1.83rem;
    text-align: center;
    position: absolute;
    top: 0rem;
    left: 10.5rem;
    z-index: 9999;
}
.leftHindlegUpperNumber{
    width: 1.83rem;
    height: 1.83rem;
    background: rgba(255, 255, 255, 0.6);
    border: 0.05rem dashed #EB5656;
    border-radius: 50%;
    font-size: 1rem;
    font-family: PingFang SC;
    font-weight: 500;
    color: #E45757;
    line-height: 1.83rem;
    text-align: center;
    position: absolute;
    top: 3.5rem;
    left: 10.5rem;
    z-index: 9999;
}
.rightHindlegLowerNumber{
    width: 1.83rem;
    height: 1.83rem;
    background: rgba(255, 255, 255, 0.6);
    border: 0.05rem dashed #EB5656;
    border-radius: 50%;
    font-size: 1rem;
    font-family: PingFang SC;
    font-weight: 500;
    color: #E45757;
    line-height: 1.83rem;
    text-align: center;
    position: absolute;
    top: 0rem;
    left: 12.5rem;
    z-index: 9999;
}
.rightHindlegUpperNumber{
    width: 1.83rem;
    height: 1.83rem;
    background: rgba(255, 255, 255, 0.6);
    border: 0.05rem dashed #EB5656;
    border-radius: 50%;
    font-size: 1rem;
    font-family: PingFang SC;
    font-weight: 500;
    color: #E45757;
    line-height: 1.83rem;
    text-align: center;
    position: absolute;
    top: 6rem;
    left: 12.5rem;
    z-index: 9999;
}