@import "../../css/z-index.css";

.modal {
    position: absolute;
    /* height: 100%; */
    z-index: $z-index-modal;
    /* width: 100%; */
    /* left: 30%; */
    right: 10%;
    top: 20%;
    padding: 1rem;
    background: rgba(255,255,255,1);
}
.cancel{
    position: absolute;
    top: 0.2rem;
    right: 0;
    z-index: 99;
}