.loginOutModal {
  width: 17.5rem;
  height: 11.31rem;
}

.login-out-modal-container {
  width: 16rem;
  margin: 0 auto;
}

.confirm-login-out {
  text-align: center;
  margin-top: 3.5rem;
}

.btn-container {
  margin-top: 2.5rem;
  text-align: center;
}

.login-out-btn {}

.login-out-btn-margin-right {
  margin-right: 20px;
}