@import "../../css/z-index.css";
/* .locatingBox *{
    margin:0;padding:0;
    box-sizing: border-box;
} */

.show {
  display: block;
}

.hide {
  display: none;
}

.locatingBox {
  position: absolute;
  z-index: $z-index-micro-course;
  right: 1rem;
  top: 70px;
}

.microCourseBox {
  width: 14rem;
  height: 10.5rem;
  background: #fff;
  border-radius: 1rem;
  padding: 0.5rem;
  box-shadow: 0rem 0rem 1rem 0rem rgba(0, 0, 0, 0.1);
}

.videoBox {
  width: 100%;
  height: 8rem;
  border-radius: 0.5rem 0.5rem 0rem 0rem;
  overflow: hidden;
}

.courseNameBox {
  width: 100%;
  text-align: center;
}

.courseNameBox .title {
  color: #ABB9C6;
  font-size: 0.8rem;
  line-height: 1rem;
  margin: 0;
  padding-top: 0.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.courseNameBox .des {
  display: none;
}

.hideBt {
  display: block;
  position: absolute;
  left: -21px;
  top: calc( 50% - 31px);
  width: 21px;
  height: 62px;
  background-image: url(./icon_lesson_hide.png);
}

.showBt {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  /* width: 7rem; */
  height: 2.13rem;
  line-height: 2.13rem;
  border-radius: 1rem;
  background: #fff;
  font-size: 0.88rem;
  color: #6C798A;
  text-align: center;
  box-shadow: 0rem 0rem 1rem 0rem rgba(0, 0, 0, 0.1);
  background-image: url(./icon_lesson@2x.png);
  background-size: auto 1.1rem;
  background-repeat: no-repeat;
  background-position: 1.2rem center;
  padding-left: 2.5rem;
  padding-right: 1.2rem;
  white-space: nowrap;
}

.showBt>span {
  padding-left: 4px;
} 

.fullscreenBt {
  z-index: 2;
  cursor: pointer;
  position: absolute;
  top: 7rem;
  right: 0.8rem;
  width: 1.2rem;
  height: 1.2rem;
  background-size: 1.2rem;
  background-image: url(./icon_zoom@2x.png);
}

/* 全屏 */

.locatingBoxFull {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* z-index: $z-index-micro-course; */
  z-index: 1000002;
  background: rgba(0, 0, 0, 0.8);
}

.locatingBoxFull .microCourseBox {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 56rem;
  height: 40rem;
  border-radius: 1rem;
  padding: 0;
}

.locatingBoxFull .videoBox {
  width: 100%;
  height: 75%;
  border-radius: 1rem 1rem 0 0;
}

.locatingBoxFull .courseNameBox {
  width: 100%;
  text-align: left;
  padding: 2em;
  overflow: hidden;
}

.locatingBoxFull .courseNameBox .title {
  color: #717582;
  font-size: 1.13rem;
  line-height: 1.13rem;
  padding-top: 0;
}

.locatingBoxFull .courseNameBox .des {
  display: block;
  color: #ABB9C6;
  font-size: 0.75rem;
  overflow: auto;
  max-height: 5rem;
  padding-right: 0.15rem;
}

.locatingBoxFull .hideBt {
  display: none;
}

.locatingBoxFull .fullscreenBt {
  cursor: pointer;
  position: absolute;
  top: 71%;
  right: 1rem;
  width: 1rem;
  height: 1rem;
  background-image: url(./icon_zoom_big@2x.svg);
  background-size: 1rem;
}

.play-bt {
  position: absolute;
  top: calc(4.5rem - 1.75rem);
  left: calc(50% - 1.75rem);
  width: 3.5rem;
  height: 3.5rem;
  background-image: url(./btn_lesson_play_big@2x.png);
  background-size: 3.5rem;
  background-position: center;
  cursor: pointer;
  display: block;
}

.locatingBoxFull .play-bt {
  top: calc(37.5% - 3rem);
  left: calc(50% - 3rem);
  width: 6rem;
  height: 6rem;
  background-size: 6rem;
}

.play-bt-hide {
  display: none;
}