/* 最新版本 */
.latestVersionModal {
  width: 350px;
  padding-bottom: 25px;
}

.latestVersionText {
  text-align: center;
  margin-top: 15px;
  padding: 0 20px;
}

.latestVersionBtn {
  margin-top: 30px;
}

/* 可更新版本 */
.updateContainer {
  text-align: center;
  padding: 0 20px;
  color: #717582;
}

.upgradeVersionModal {
  width: 388px;
  padding-bottom: 25px;
}

.updateTextContainer {
  background: rgb(255, 255, 255);
  text-align: left;
  padding: 10px 15px;
  font-size: 14px;
  max-height: 400px;
  overflow: auto;
  border-radius: 10px;
}

/* 安装包下载 */
.downloadVersionModal {}

.onDownloadWidth {
  width: 420px !important;
}

.unDownloadWidth {
  width: 300px !important;
}

.downloadText {
  font-size: 12px;
  font-weight: 400;
  color: #717582;
  text-align: left;
  margin-top: 50px;
  margin-bottom: 10px;
}