@import "../../css/colors.css";
@import "../../css/z-index.css";
.background {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /* width: 100%;
  height: 100%; */
  z-index: $z-index-loader;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: $motion-primary; */
  background: rgba(255, 255, 255, 0.0);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  /* color: white; */
}