.modal {
    width: 30rem;
    height: 20rem;
}

.contentBox {
    width: 28em;
    height: 8rem;
    margin: 1.5rem auto;
    background: #fff;
    border: 1px solid #e8eff7;
    border-radius: 1rem;
}

.content {
    line-height: 1rem;
    position: fixed;
    left: 50%;
    top: calc(50% - 1rem);
    transform: translate(-50%, -50%);
    color: #717582;
    font-size: 1rem;
    text-align: center;
}

.buttonBox {
    text-align: center;
    padding-top: 1rem;
}

.button {
    font-size: 1rem;
    padding: 0 2rem;
}