@import "../../css/units.css";
@import "../../css/colors.css";
$library-wrapper-height: 38rem;
$library-header-height: 4rem;
.library-wrapper {
  display: flex;
  flex-direction: column;
  width: 68rem;
  height: 38rem;
  background: rgba(213, 222, 233, 1);
  box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-top: calc(50vh - 19rem);
  position: relative;
}

.library-heaer {
  width: 100%;
  height: $library-header-height;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #F2F7FB;
  border-bottom: 0.125rem solid rgba(232,239,247,1);
  border-radius: 10px 10px 0px 0px;
}

.library-heaer-tab {
  min-width: 8.12rem;
  height: $library-header-height;
  line-height: $library-header-height;
  border: none;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  color: rgba(171, 185, 198, 1);
}

.library-heaer-tab:hover {
  cursor: pointer;
}

.library-heaer-tab.is-selected {
  color: rgba(81, 221, 212, 1);
  border-bottom: 2px solid rgba(81, 221, 212, 1);
}

.tab-separator {
  width: 60px;
}

.library-scroll-grid {
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  /* background: $ui-secondary; */
  background: #D5DEE9;
  flex-wrap: wrap;
  overflow-y: auto;
  height: calc($library-wrapper-height - 9.6rem);
  padding: 0.5rem;
}

.user-material-height{
  height: calc($library-wrapper-height - $library-header-height);
}

.public-material-height{
  height: calc($library-wrapper-height - 9.6rem);
}

.library-scroll-grid::-webkit-scrollbar {
  width: 10px;
  background-color: none;
}

.library-scroll-grid::-webkit-scrollbar-track {
  background-color: none;
}

.library-scroll-grid::-webkit-scrollbar-thumb {
  background: rgba(188, 192, 201, 1);
  opacity: 0.5;
  border-radius: 10px;
}

.library-scroll-grid::-webkit-scrollbar-button:start {
  background-size: 12px 12px;
}

.library-scroll-grid::-webkit-scrollbar-button:end {
  background-size: 12px 12px;
}

.library-local-upload {
  width: 10rem;
  height: 10rem;
  margin: $space auto;
  background: white;
  border-width: 2px;
  border-style: solid;
  /* border-color: $ui-black-transparent; */
  /* border-radius: $space; */
  border-color: transparent;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  font-size: 14px;
  color: rgba(113, 117, 130, 1);
}

.library-local-upload:hover {
  border: 2px solid rgba(81, 221, 212, 1);
  box-shadow: 0px 4px 10px 0px rgba(81, 221, 212, 0.5);
}

.to-login {
  width: 100%;
  text-align: center;
  margin-top: 10rem;
}

.to-login-btn {
  margin-top: 40px;
  padding: 0 50px;
}

/* 删除modal */

.library-modal {
  width: 290px;
  height: 180px;
  text-align: center;
}

.remmind-text {
  margin: 1.5rem 0 1.7rem;
}

.library-btn {
  padding: 0 20px;
  font-size: 14px;
}

.uploadText {
  font-size: 0.88rem;
  font-weight: 400;
  color: rgba(113, 117, 130, 1);
  margin-top: 0.6rem
}

.fullPosition {
  height: 1rem;
  width: 10rem;
  margin: 0.5rem auto;
}

.paint-wrapper{
  position: absolute;
  left: 0.6rem;
  top: 0;
  height: $library-header-height;
  display: flex;
  align-items: center;
  justify-content: flex-start; 
  margin: 0rem 0.625rem;
}

.paint-btn{
  min-width: 4.88rem;
  height:1.88rem;
  line-height:1.88rem;
  padding: 0px 4px;

  text-align: center;

  font-size:0.88rem;
  font-weight:400;
  color:rgba(74,156,240,1);

  background:rgba(255,255,255,1);
  border:1px solid rgba(232,239,247,1);
  border-radius:1rem;
  box-shadow:none;
}

.paint-btn:hover{
  box-shadow:none;
  color:rgba(74,156,240,1);

  /* background:rgba(255,255,255,1); */
  border:1px solid rgba(232,239,247,1);
}

.paint-btn-img{
  width:auto;
  height:0.88rem;
  margin: 4px 4px 6px 0px;
}

.tags-pane{
  width: 100%;
  min-height: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  background:rgba(242,247,251,1);
  padding: 0.5rem 0.5rem;
}

.tag-item{
  height:2rem;
  line-height: 2rem;
  font-size:0.88rem;
  color:rgba(255,255,255,1);
  padding: 0 1rem;
  background:rgba(191,204,216,1);
  border-radius:1rem;
  margin: 0.5rem 0.5rem;
  cursor: pointer;
}

.tag-item-selected{
  background:rgba(74,156,240,1);
}

