.sender {
    width: 100%;
    margin-top: 2rem;
    height: 2.5rem;
}

.sender-input {
    outline: none;
    float: left;
    width: calc(100% - 4.75rem);
    height: 2.5rem;
    padding-left: 0.75rem;
    font-size: 0.75rem;
    line-height: 2.5rem;
    color: #717582;
    background: #fff;
    border-radius: 0.5rem;
    border: 2px solid #E5E5ED;
}

.serial-send-bt {
    float: left;
    width: 3.75rem;
    height: 2.5rem;
    padding: 0;
    margin-left: 1rem;
    font-size: 0.75rem;
    line-height: 2.5rem;
    border-radius: 0.5rem;
    box-sizing: border-box;
}